@model IEnumerable<EntityLayer.Concrete.Comment>
@{
    ViewBag.Title = "AdminCommentListTrue";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Yayımlanan Yorumlar</h3>
<br />
<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="card-body">
                    @foreach (var item in Model)
                    {
                        <div class="post">
                            <div class="user-block">
                                <img class="img-circle img-bordered-sm" src="~/images/user.png" alt="user image">
                                <span class="username">
                                    <a href="/Blog/BlogDetails/@item.BlogID">@item.UserName - @item.Blog1.BlogTitle </a>
                                </span>
                                <span class="description">@(((DateTime)item.CommentDate).ToString("dd-MMM-yyyy"))</span>
                            </div>
                            <!-- /.user-block -->
                            <p>
                                @item.CommentText
                            </p>
                            <p>
                                <span class="float-right">
                                    <a href="/Comment/StatusChangToFalse/@item.CommentID" class="link-black text-sm">
                                        <i class="far fa-comments mr-1"></i> Yorumu Kaldır
                                    </a>
                                </span>
                            </p>
                            <br />
                        </div>
                    }
                </div><!-- /.card-body -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</body>
</html>