
@{
    Layout = null;
}

<!--
    Author: W3layouts
    Author URL: http://w3layouts.com
    License: Creative Commons Attribution 3.0 Unported
    License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Oooppss Aradığınız Sayfa Bulunamadı.</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Billion Error Page Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
    <script type="application/x-javascript">
         addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Meta tag Keywords -->
    <!-- css files -->
    <link href="/web/css/style.css" rel="stylesheet" type="text/css" media="all">
    <link rel="stylesheet" href="/web/css/font-awesome.css"> <!-- Font-Awesome-Icons-CSS -->
    <!-- //css files -->
    <!-- online-fonts -->
    <link href="//fonts.googleapis.com/css?family=Cedarville+Cursive" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet">
    <!--//online-fonts -->
</head>
<body>
    <div class="header">
        <h1>Aradığınız Sayfa Bulunamadı.</h1>
    </div>
    <div class="w3-main">
        <div class="agile-info">
            <h3>404</h3>
            <h3>ooops!</h3>
            <p>Ana sayfaya dönüp tekrar arama yapın.</p>
            <div id="walker"></div>
            <a href="/Blog/Index/">Bloga Dön</a>
        </div>
    </div>
    <div class="footer-w3l">
        <p>&copy; 2022 Tüm hakları saklıdır | Design by <a href="http://w3layouts.com">W3layouts</a></p>
    </div>
    <!--/animation scripts -->
    <script type="text/javascript" src="/web/js/jquery-2.1.4.min.js"></script>
    <script src="/web/js/index.js"></script>
    <!--//animation scripts -->
</body>
</html>